## ДЗ 1 (ОБЯЗАТЕЛЬНОЕ): Анализ температурных данных и мониторинг текущей температуры через OpenWeatherMap API

**Описание задания:**  
Вы аналитик в компании, занимающейся изучением климатических изменений и мониторингом температур в разных городах. Вам нужно провести анализ исторических данных о температуре для выявления сезонных закономерностей и аномалий. Также необходимо подключить API OpenWeatherMap для получения текущей температуры в выбранных городах и сравнить её с историческими данными.


### Цели задания:
1. Провести **анализ временных рядов**, включая:
   - Вычисление скользящего среднего и стандартного отклонения для сглаживания температурных колебаний.
   - Определение аномалий на основе отклонений температуры от $ \text{скользящее среднее} \pm 2\sigma $.
   - Построение долгосрочных трендов изменения температуры.
   - Любые дополнительные исследования будут вам в плюс.

2. Осуществить **мониторинг текущей температуры**:
   - Получить текущую температуру через OpenWeatherMap API.
   - Сравнить её с историческим нормальным диапазоном для текущего сезона.

3. Разработать **интерактивное приложение**:
   - Дать пользователю возможность выбрать город.
   - Отобразить результаты анализа температур, включая временные ряды, сезонные профили и аномалии.
   - Провести анализ текущей температуры в контексте исторических данных.


### Описание данных
Исторические данные о температуре содержатся в файле `temperature_data.csv`, включают:
  - `city`: Название города.
  - `timestamp`: Дата (с шагом в 1 день).
  - `temperature`: Среднесуточная температура (в °C).
  - `season`: Сезон года (зима, весна, лето, осень).

Код для генерации файла вы найдете ниже.

### Этапы выполнения

1. **Анализ исторических данных**:
   - Вычислить **скользящее среднее** температуры с окном в 30 дней для сглаживания краткосрочных колебаний.
   - Рассчитать среднюю температуру и стандартное отклонение для каждого сезона в каждом городе.
   - Выявить аномалии, где температура выходит за пределы $ \text{среднее} \pm 2\sigma $.
   - Попробуйте распараллелить проведение этого анализа. Сравните скорость выполнения анализа с распараллеливанием и без него.

2. **Мониторинг текущей температуры**:
   - Подключить OpenWeatherMap API для получения текущей температуры города. Для получения API Key (бесплатно) надо зарегистрироваться на сайте. Обратите внимание, что API Key может активироваться только через 2-3 часа, это нормально. Посему получите ключ заранее.
   - Получить текущую температуру для выбранного города через OpenWeatherMap API.
   - Определить, является ли текущая температура нормальной, исходя из исторических данных для текущего сезона.
   - Данные на самом деле не совсем реальные (сюрпрайз). Поэтому на момент эксперимента погода в Берлине, Каире и Дубае была в рамках нормы, а в Пекине и Москве аномальная. Протестируйте свое решение для разных городов.
   - Попробуйте для получения текущей температуры использовать синхронные и асинхронные методы. Что здесь лучше использовать?

3. **Создание приложения на Streamlit**:
   - Добавить интерфейс для загрузки файла с историческими данными.
   - Добавить интерфейс для выбора города (из выпадающего списка).
   - Добавить форму для ввода API-ключа OpenWeatherMap. Когда он не введен, данные для текущей погоды не показываются. Если ключ некорректный, выведите на экран ошибку (должно приходить `{"cod":401, "message": "Invalid API key. Please see https://openweathermap.org/faq#error401 for more info."}`).
   - Отобразить:
     - Описательную статистику по историческим данным для города, можно добавить визуализации.
     - Временной ряд температур с выделением аномалий (например, точками другого цвета).
     - Сезонные профили с указанием среднего и стандартного отклонения.
   - Вывести текущую температуру через API и указать, нормальна ли она для сезона.

### Критерии оценивания

- Корректное проведение анализа данных – 1 балл.
- Исследование распараллеливания анализа – 1 балл.
- Корректный поиск аномалий – 1 балл.
- Подключение к API и корректность выполнения запроса – 1 балл.
- Проведение эксперимента с синхронным и асинхронным способом запроса к API – 1 балл.
- Создание интерфейса приложения streamlit в соответствии с описанием – 3 балла.
- Корректное отображение графиков и статистик, а также сезонных профилей – 1 балл.
- Корректный вывод текущей температуры в выбранном городе и проведение проверки на ее аномальность – 1 балл.
- Любая дополнительная функциональность приветствуется и оценивается бонусными баллами (не более 2 в сумме) на усмотрение проверяющего.

### Формат сдачи домашнего задания

Решение нужно развернуть в Streamlit Cloud (бесплатно)

*   Создаем новый репозиторий на GitHub.  
*   Загружаем проект.
*   Создаем аккаунт в [Streamlit Cloud](https://streamlit.io/cloud).
*   Авторизуемся в Streamlit Cloud.
*   Создаем новое приложение в Streamlit Cloud и подключаем GitHub-репозиторий.
*   Deploy!

Сдать в форму необходимо:
1. Ссылку на развернутое в Streamlit Cloud приложение.
2. Ссылку на код. Все выводы про, например, использование параллельности/асинхронности опишите в комментариях.

Не забудьте удалить ключ API и иную чувствительную информацию.

### Полезные ссылки
*   [Оформление задачи Титаник на Streamlit](https://github.com/evgpat/streamlit_demo)
*   [Документация Streamlit](https://docs.streamlit.io/)
*   [Блог о Streamlit](https://blog.streamlit.io/)

In [1]:
import pandas as pd
import numpy as np

# Реальные средние температуры (примерные данные) для городов по сезонам
seasonal_temperatures = {
    "New York": {"winter": 0, "spring": 10, "summer": 25, "autumn": 15},
    "London": {"winter": 5, "spring": 11, "summer": 18, "autumn": 12},
    "Paris": {"winter": 4, "spring": 12, "summer": 20, "autumn": 13},
    "Tokyo": {"winter": 6, "spring": 15, "summer": 27, "autumn": 18},
    "Moscow": {"winter": -10, "spring": 5, "summer": 18, "autumn": 8},
    "Sydney": {"winter": 12, "spring": 18, "summer": 25, "autumn": 20},
    "Berlin": {"winter": 0, "spring": 10, "summer": 20, "autumn": 11},
    "Beijing": {"winter": -2, "spring": 13, "summer": 27, "autumn": 16},
    "Rio de Janeiro": {"winter": 20, "spring": 25, "summer": 30, "autumn": 25},
    "Dubai": {"winter": 20, "spring": 30, "summer": 40, "autumn": 30},
    "Los Angeles": {"winter": 15, "spring": 18, "summer": 25, "autumn": 20},
    "Singapore": {"winter": 27, "spring": 28, "summer": 28, "autumn": 27},
    "Mumbai": {"winter": 25, "spring": 30, "summer": 35, "autumn": 30},
    "Cairo": {"winter": 15, "spring": 25, "summer": 35, "autumn": 25},
    "Mexico City": {"winter": 12, "spring": 18, "summer": 20, "autumn": 15},
}

# Сопоставление месяцев с сезонами
month_to_season = {12: "winter", 1: "winter", 2: "winter",
                   3: "spring", 4: "spring", 5: "spring",
                   6: "summer", 7: "summer", 8: "summer",
                   9: "autumn", 10: "autumn", 11: "autumn"}

# Генерация данных о температуре
def generate_realistic_temperature_data(cities, num_years=10):
    dates = pd.date_range(start="2010-01-01", periods=365 * num_years, freq="D")
    data = []

    for city in cities:
        for date in dates:
            season = month_to_season[date.month]
            mean_temp = seasonal_temperatures[city][season]
            # Добавляем случайное отклонение
            temperature = np.random.normal(loc=mean_temp, scale=5)
            data.append({"city": city, "timestamp": date, "temperature": temperature})

    df = pd.DataFrame(data)
    df['season'] = df['timestamp'].dt.month.map(lambda x: month_to_season[x])
    return df

# Генерация данных
data = generate_realistic_temperature_data(list(seasonal_temperatures.keys()))
data.to_csv('temperature_data.csv', index=False)

## **Этап 1. Анализ исторических данных**

Сначала посмотрим на получившийся датасет:

In [ ]:
data.head()

       city  timestamp  temperature  season
0  New York 2010-01-01     2.059735  winter
1  New York 2010-01-02     1.676707  winter
2  New York 2010-01-03     3.797681  winter
3  New York 2010-01-04     7.212817  winter
4  New York 2010-01-05     6.943354  winter

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54750 entries, 0 to 54749
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   city         54750 non-null  object
 1   timestamp    54750 non-null  datetime64[ns]
 2   temperature  54750 non-null  float64
 3   season       54750 non-null  object
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 1.7+ MB

In [ ]:
from sklearn.linear_model import LinearRegression
import time

In [ ]:
def analyze_city_data(data_of_the_city):
    data_of_the_city['rolling_mean'] = data_of_the_city['temperature'].rolling(window=30).mean()  # Скользящее среднее
    data_of_the_city['rolling_std'] = data_of_the_city['temperature'].rolling(window=30).std()  # Стандартное отклонение

    # Для выявления аномалий обычно считают медиану, а не среднее (в задании указано среднее,
    # но преподаватель в чате писал, что это не принципиально для данного задания!)
    median = data_of_the_city['temperature'].rolling(window=30).median()
    std_dev = data_of_the_city['temperature'].rolling(window=30).std()

    lower_bound = median - 2 * std_dev
    upper_bound = median + 2 * std_dev
    anomalies = data_of_the_city[(data_of_the_city['temperature'] < lower_bound) | (data_of_the_city['temperature'] > upper_bound)].copy()  # Создаем копию

    anomalies.loc[:, 'median'] = median[anomalies.index].values
    anomalies.loc[:, 'std_dev'] = std_dev[anomalies.index].values

    season_profile = data_of_the_city.groupby('season')['temperature'].agg(['mean', 'std']).reset_index()

    # Регрессия для нахождения тренда: в качестве Х возьмём номер дня для каждой даты,
    # а в качестве у - среднесуточную температуру (в чате преподаватель предалагал построить именно такую модель)
    data_of_the_city['day_of_year'] = data_of_the_city['timestamp'].dt.dayofyear

    X = data_of_the_city[['day_of_year']]
    y = data_of_the_city['temperature']

    model = LinearRegression().fit(X, y)
    trend_slope = model.coef_[0] # Коэффициент регрессионной линии, показывающий направление тренда

    return {
        'city': data_of_the_city['city'].iloc[0],
        'average_temp': data_of_the_city['temperature'].mean(),
        'min_temp': data_of_the_city['temperature'].min(),
        'max_temp': data_of_the_city['temperature'].max(),
        'season_profile': season_profile,
        'trend_slope': trend_slope,
        'anomalies': anomalies[['city', 'timestamp', 'temperature', 'season', 'median', 'std_dev']]
    }

Сравним скорость процесса нахождения скользящего среднего без распараллеливания и с распараллеливанием:

In [ ]:
# Проанализируем изменение температуры во всех городах без распараллеливания
def analyze_all_cities(data):
    results = []
    for city, data_of_the_city in data.groupby('city'):
        results.append(analyze_city_data(data_of_the_city))
    return results

start_time = time.time()
results_without_parallel = analyze_all_cities(data)
end_time = time.time()
time_without_parallel = end_time - start_time
print(f"Время выполнения без распараллеливания: {time_without_parallel:.4f} секунды")

Время выполнения без распараллеливания: 0.6075 секунды

In [ ]:
# Теперь проанализируем изменение температуры во всех городах с распараллеливанием
from concurrent.futures import ThreadPoolExecutor

def analyze_all_cities_parallel(data):
    results = []
    with ThreadPoolExecutor() as executor:
        futures = {executor.submit(analyze_city_data, data_of_the_city): city for city, data_of_the_city in data.groupby('city')}
        for future in futures:
            results.append(future.result())
    return results

start_time = time.time()
results_with_parallel = analyze_all_cities_parallel(data)
end_time = time.time()
time_with_parallel = end_time - start_time
print(f"Время выполнения с распараллеливанием: {time_with_parallel:.4f} секунд")

Время выполнения с распараллеливанием: 0.4325 секунд

In [ ]:
if time_without_parallel > time_with_parallel:
  print('Процесс нахождения скользящего среднего происходит быстрее с распараллеливанием')
elif time_without_parallel == time_with_parallel:
  print('Процесс нахождения скользящего среднего занимает одинаковое время вне зависимости от того, использовалось ли распараллеливание')
else:
  print('Процесс нахождения скользящего среднего происходит быстрее без распараллеливания')

Процесс нахождения скользящего среднего происходит быстрее с распараллеливанием

Мы выяснили, что распараллеливание даёт преимущество во времени. Поэтому продолжаем работать с распараллеливанием.

Сохраним получившийся датасет с распараллеливанием:

In [ ]:
df_with_parallel = pd.DataFrame(results_with_parallel)

In [ ]:
pd.set_option('display.max_colwidth', None)

In [ ]:
df_with_parallel

,city,average_temp,min_temp,max_temp,season_profile,trend_slope,anomalies
0,Beijing,13.470305,-18.799522,40.221596,season mean std 0 autumn 16.036876 5.059987 1 spring 12.917566 4.971722 2 summer 26.722804 4.996412 3 winter -2.106759 4.836584,0.027386,city timestamp temperature season median std_dev 25608 Beijing 2010-02-28 7.233987 winter -1.422184 4.308183 25609 Beijing 2010-03-01 12.242871 spring -1.334171 4.943656 25610 Beijing 2010-03-02 12.249821 spring -0.502248 5.364232 25611 Beijing 2010-03-03 17.431962 spring 0.112364 6.176574 25612 Beijing 2010-03-04 15.699703 spring 0.112364 6.719154 ... ... ... ... ... ... ... 29169 Beijing 2019-11-29 25.217159 autumn 13.343711 4.752255 29171 Beijing 2019-12-01 -9.920906 winter 13.343711 6.380648 29173 Beijing 2019-12-03 -7.365812 winter 13.343711 7.599618 29174 Beijing 2019-12-04 -5.689659 winter 13.039860 8.137710 29175 Beijing 2019-12-05 -11.661524 winter 12.480715 9.064461 [280 rows x 6 columns]
1,Berlin,10.357134,-13.707114,36.838472,season mean std 0 autumn 10.918605 4.972714 1 spring 10.079968 5.240883 2 summer 20.177708 5.068230 3 winter 0.033941 4.954710,0.015348,city timestamp temperature season median std_dev 21938 Berlin 2010-02-08 13.333894 winter 2.174684 5.185626 21948 Berlin 2010-02-18 -11.533840 winter 1.612630 6.219523 21951 Berlin 2010-02-21 -12.995312 winter 1.968544 6.490774 21962 Berlin 2010-03-04 18.285585 spring 1.097336 7.755470 21964 Berlin 2010-03-06 21.130150 spring 1.612630 8.729405 ... ... ... ... ... ... ... 25439 Berlin 2019-09-10 -2.769273 autumn 18.343366 8.173154 25502 Berlin 2019-11-12 20.901023 autumn 10.846847 4.728738 25505 Berlin 2019-11-15 0.069297 autumn 10.659120 5.294805 25523 Berlin 2019-12-03 -5.530615 winter 8.588348 5.606211 25526 Berlin 2019-12-06 -4.356434 winter 8.211446 6.244008 [229 rows x 6 columns]
2,Cairo,25.242641,-1.801592,52.269089,season mean std 0 autumn 25.245239 4.929423 1 spring 25.206242 5.077142 2 summer 35.256463 5.141720 3 winter 15.040872 5.170355,0.012682,city timestamp temperature season median std_dev 47480 Cairo 2010-01-31 3.884088 winter 15.194392 5.411262 47498 Cairo 2010-02-18 5.190437 winter 14.995756 4.755866 47500 Cairo 2010-02-20 3.817957 winter 14.995756 5.315908 47510 Cairo 2010-03-02 26.963971 spring 15.056138 5.204714 47514 Cairo 2010-03-06 29.722337 spring 16.320409 6.267831 ... ... ... ... ... ... ... 51070 Cairo 2019-11-30 41.225654 autumn 24.182428 5.088824 51071 Cairo 2019-12-01 12.113087 winter 23.810495 5.620907 51073 Cairo 2019-12-03 7.970209 winter 23.426244 6.447436 51075 Cairo 2019-12-05 6.929459 winter 23.426244 7.153598 51087 Cairo 2019-12-17 1.707289 winter 18.394398 7.712738 [222 rows x 6 columns]
3,Dubai,30.087716,3.569364,54.142133,season mean std 0 autumn 29.978076 4.918580 1 spring 30.120864 4.769703 2 summer 39.933912 5.113040 3 winter 20.099689 4.759781,0.012861,city timestamp temperature season median std_dev 32888 Dubai 2010-02-08 5.042779 winter 19.938889 5.565643 32910 Dubai 2010-03-02 32.950676 spring 20.260925 5.628955 32911 Dubai 2010-03-03 33.847868 spring 20.260925 6.118143 32953 Dubai 2010-04-14 19.050394 spring 29.517281 4.841861 32967 Dubai 2010-04-28 18.400594 spring 29.386257 5.187817 ... ... ... ... ... ... ... 36444 Dubai 2019-11-04 39.942810 autumn 28.816079 4.460192 36474 Dubai 2019-12-04 18.504132 winter 30.165558 4.928116 36475 Dubai 2019-12-05 10.799295 winter 30.165558 5.856466 36479 Dubai 2019-12-09 12.208074 winter 30.106735 6.458820 36481 Dubai 2019-12-11 10.974442 winter 30.097196 7.008471 [227 rows x 6 columns]
4,London,11.548177,-9.585804,35.149407,season mean std 0 autumn 12.096750 4.945229 1 spring 11.131159 5.037025 2 summer 17.823193 4.945826 3 winter 5.005332 5.144458,0.010681,city timestamp temperature season median std_dev 3696 London 2010-02-16 18.668415 winter 5.785705 5.662713 3705 London 2010-02-25 15.232667 winter 4.251000 5.273572 3712 London 2010-03-04 20.150593 spring 6.183563 5.528104 3731 London 2010-03-23 19.745696 spring 7.735480 5.320827 3739 London 2010-03-31 19.128089 spring 9.047908 4.919946 ... ... ... ... ... ... ... 7235 London 2019-10-26 2.021623 autumn 11.896458 4.588730 7237 London 2019-10-28 23.149843 autumn 11.833984 5.066019 7274 London 2019-12-04 -4.778920 winter 11.204396 4.849518 7276 London 2019-12-06 0.336067 winter 10.738403 5.196343 7278 London 2019-12-08 -4.788118 winter 10.663012 5.704751 [194 rows x 6 columns]
5,Los Angeles,19.517481,-1.843321,42.080753,season mean std 0 autumn 19.863121 4.817015 1 spring 17.960417 5.023309 2 summer 25.089507 5.246702 3 winter 15.063817 4.901269,0.009423,city timestamp temperature season median std_dev 36546 Los Angeles 2010-02-16 6.286784 winter 17.718574 5.238210 36579 Los Angeles 2010-03-21 28.678086 spring 18.046549 5.142965 36582 Los Angeles 2010-03-24 32.183930 spring 18.610684 5.910263 36622 Los Angeles 2010-05-03 9.534544 spring 18.335294 4.071337 36628 Los Angeles 2010-05-09 27.328342 spring 18.335294 4.247330 ... ... ... ... ... ... ... 40095 Los Angeles 2019-11-05 29.907156 autumn 18.787325 4.788130 40111 Los Angeles 2019-11-21 29.275504 autumn 19.390996 4.352609 40127 Los Angeles 2019-12-07 6.909441 winter 18.853226 4.913683 40139 Los Angeles 2019-12-19 6.342348 winter 17.288388 4.735938 40141 Los Angeles 2019-12-21 6.592773 winter 16.936776 4.488102 [181 rows x 6 columns]
6,Mexico City,16.432462,-1.542786,36.374342,season mean std 0 autumn 14.907518 5.137427 1 spring 18.116183 5.003812 2 summer 20.096847 5.055303 3 winter 12.507397 4.995528,-0.001880,city timestamp temperature season median std_dev 51143 Mexico City 2010-02-13 24.162461 winter 13.789620 4.796541 51149 Mexico City 2010-02-19 3.686999 winter 13.901046 4.920968 51197 Mexico City 2010-04-08 7.229867 spring 19.209653 5.142489 51214 Mexico City 2010-04-25 2.876800 spring 16.492078 5.983292 51250 Mexico City 2010-05-31 5.724570 spring 18.815190 5.566761 ... ... ... ... ... ... ... 54666 Mexico City 2019-10-07 29.619736 autumn 15.449915 4.856302 54680 Mexico City 2019-10-21 -0.402136 autumn 15.121112 5.708910 54695 Mexico City 2019-11-05 0.536352 autumn 16.926962 6.882655 54701 Mexico City 2019-11-11 0.625774 autumn 15.149545 6.707638 54730 Mexico City 2019-12-10 2.490528 winter 15.938036 6.229207 [155 rows x 6 columns]
7,Moscow,5.407132,-27.220607,33.891125,season mean std 0 autumn 7.963249 5.149111 1 spring 5.284165 5.035244 2 summer 18.032328 5.061023 3 winter -9.957443 5.166106,0.024726,city timestamp temperature season median std_dev 14659 Moscow 2010-03-01 7.523935 spring -7.823760 4.833030 14660 Moscow 2010-03-02 3.968672 spring -7.475311 5.271466 14663 Moscow 2010-03-05 6.575042 spring -6.591351 5.918905 14664 Moscow 2010-03-06 9.648192 spring -6.591351 6.598090 14669 Moscow 2010-03-11 13.493034 spring -4.998449 8.066724 ... ... ... ... ... ... ... 18191 Moscow 2019-11-01 19.398058 autumn 8.554064 5.369710 18221 Moscow 2019-12-01 -14.016882 winter 7.951717 6.174571 18223 Moscow 2019-12-03 -12.487949 winter 7.113134 7.414147 18229 Moscow 2019-12-09 -14.856909 winter 4.926931 8.827474 18230 Moscow 2019-12-10 -16.793863 winter 4.094203 9.478983 [272 rows x 6 columns]
8,Mumbai,30.108476,8.552779,50.155324,season mean std 0 autumn 29.956291 4.990592 1 spring 30.312493 4.934926 2 summer 34.862646 4.835180 3 winter 25.193984 5.075190,0.005836,city timestamp temperature season median std_dev 43838 Mumbai 2010-02-08 34.221037 winter 25.976501 3.526147 43847 Mumbai 2010-02-17 12.887535 winter 25.986453 3.909702 43854 Mumbai 2010-02-24 16.486661 winter 25.986453 4.681817 43858 Mumbai 2010-02-28 14.438436 winter 25.938082 5.309905 43869 Mumbai 2010-03-11 42.940601 spring 28.186626 6.532996 ... ... ... ... ... ... ... 47316 Mumbai 2019-08-18 45.084900 summer 34.981966 4.661704 47341 Mumbai 2019-09-12 16.534267 autumn 32.267464 6.078251 47377 Mumbai 2019-10-18 41.824742 autumn 29.867457 5.111030 47422 Mumbai 2019-12-02 20.963319 winter 31.305176 5.159970 47435 Mumbai 2019-12-15 11.148324 winter 28.803529 6.521237 [186 rows x 6 columns]
9,New York,12.548454,-15.285236,40.452664,season mean std 0 autumn 15.044736 4.996745 1 spring 10.013122 5.033026 2 summer 25.011136 5.052168 3 winter -0.123522 4.972835,0.026625,city timestamp temperature season median std_dev 59 New York 2010-03-01 9.491530 spring -2.363923 4.317667 61 New York 2010-03-03 17.971636 spring -1.766046 5.545858 62 New York 2010-03-04 22.892401 spring -1.501938 6.886626 149 New York 2010-05-30 22.004456 spring 10.288504 5.028588 152 New York 2010-06-02 22.696253 summer 10.175441 5.475136 ... ... ... ... ... ... ... 3570 New York 2019-10-11 3.957616 autumn 14.718611 4.722473 3604 New York 2019-11-14 30.332872 autumn 14.291579 5.218342 3625 New York 2019-12-05 -10.768910 winter 12.228067 7.051926 3626 New York 2019-12-06 -5.511814 winter 11.184246 7.759530 3627 New York 2019-12-07 -7.362418 winter 10.507368 8.521666 [239 rows x 6 columns]
10,Paris,12.148075,-9.856647,33.972220,season mean std 0 autumn 12.907691 4.986476 1 spring 11.848887 5.006934 2 summer 19.846184 4.936608 3 winter 3.816677 4.983924,0.013382,city timestamp temperature season median std_dev 7335 Paris 2010-02-05 12.042805 winter 4.211613 3.654813 7347 Paris 2010-02-17 13.709307 winter 3.176655 3.579342 7353 Paris 2010-02-23 12.599383 winter 3.908665 3.858924 7360 Paris 2010-03-02 13.983918 spring 4.059014 4.252746 7367 Paris 2010-03-09 16.438835 spring 5.358430 5.110171 ... ... ... ... ... ... ... 10866 Paris 2019-10-07 1.737941 autumn 11.753663 4.525730 10875 Paris 2019-10-16 23.091378 autumn 12.433920 4.346651 10906 Paris 2019-11-16 21.311264 autumn 12.602263 3.857850 10909 Paris 2019-11-19 20.875031 autumn 12.602263 4.090400 10924 Paris 2019-12-04 -0.414489 winter 11.471306 4.852451 [219 rows x 6 columns]
11,Rio de Janeiro,25.057826,1.226316,44.886749,season mean std 0 autumn 25.071319 5.008580 1 spring 25.115952 4.998758 2 summer 30.152208 4.754510 3 winter 19.777175 4.898666,0.006182,city timestamp temperature season median std_dev 29238 Rio de Janeiro 2010-02-08 8.019803 winter 21.121563 5.582778 29248 Rio de Janeiro 2010-02-18 30.193731 winter 19.894132 5.056131 29266 Rio de Janeiro 2010-03-08 32.490642 spring 20.616766 5.571602 29272 Rio de Janeiro 2010-03-14 33.076572 spring 21.727062 5.027258 29289 Rio de Janeiro 2010-03-31 37.489045 spring 23.872890 5.508899 ... ... ... ... ... ... ... 32695 Rio de Janeiro 2019-07-28 37.534648 summer 28.440286 4.229119 32745 Rio de Janeiro 2019-09-16 10.297198 autumn 29.966695 6.358318 32750 Rio de Janeiro 2019-09-21 15.607918 autumn 29.198337 6.772322 32775 Rio de Janeiro 2019-10-16 37.688980 autumn 23.738954 5.828156 32792 Rio de Janeiro 2019-11-02 14.287704 autumn 24.913168 5.058152 [164 rows x 6 columns]
12,Singapore,27.548527,7.819356,45.272727,season mean std 0 autumn 27.175958 4.940643 1 spring 28.008302 4.807808 2 summer 27.960049 4.940595 3 winter 27.034577 5.173813,-0.002154,city timestamp temperature season median std_dev 40190 Singapore 2010-02-10 16.439510 winter 28.673943 4.513515 40286 Singapore 2010-05-17 38.139634 spring 28.927913 4.221758 40288 Singapore 2010-05-19 18.260271 spring 28.600315 4.660487 40331 Singapore 2010-07-01 19.276134 summer 28.515779 3.763080 40334 Singapore 2010-07-04 37.571546 summer 29.143147 3.917835 ... ... ... ... ... ... ... 43744 Singapore 2019-11-04 17.284317 autumn 27.471168 4.472419 43747 Singapore 2019-11-07 36.542487 autumn 27.471168 4.298182 43775 Singapore 2019-12-05 15.363121 winter 29.738715 4.885112 43778 Singapore 2019-12-08 18.349774 winter 28.374153 4.915557 43798 Singapore 2019-12-28 37.104156 winter 26.418272 4.785211 [165 rows x 6 columns]
13,Sydney,18.719454,-1.300837,39.999324,season mean std 0 autumn 20.086647 5.044677 1 spring 17.688442 5.060276 2 summer 25.108483 4.701872 3 winter 11.859987 5.031648,0.013655,city timestamp temperature season median std_dev 18295 Sydney 2010-02-15 -1.300837 winter 12.009522 4.366921 18301 Sydney 2010-02-21 22.775835 winter 11.150532 4.545213 18309 Sydney 2010-03-01 31.555079 spring 10.621490 6.340591 18334 Sydney 2010-03-26 6.488579 spring 16.756075 4.962423 18359 Sydney 2010-04-20 4.906506 spring 17.361975 4.919124 ... ... ... ... ... ... ... 21809 Sydney 2019-09-30 7.063130 autumn 18.070441 5.011685 21852 Sydney 2019-11-12 5.523400 autumn 19.536608 5.126878 21873 Sydney 2019-12-03 4.551492 winter 19.508766 6.237961 21877 Sydney 2019-12-07 2.879061 winter 18.475641 7.005402 21884 Sydney 2019-12-14 2.346601 winter 17.831507 7.277277 [195 rows x 6 columns]
14,Tokyo,16.590636,-7.416215,42.675016,season mean std 0 autumn 17.712910 5.002264 1 spring 15.130461 4.884180 2 summer 27.185659 5.160089 3 winter 6.118047 4.824814,0.018253,city timestamp temperature season median std_dev 11009 Tokyo 2010-03-01 18.116703 spring 7.598515 4.194550 11011 Tokyo 2010-03-03 17.164658 spring 7.598515 4.509453 11012 Tokyo 2010-03-04 22.793331 spring 7.799257 5.233551 11018 Tokyo 2010-03-10 22.069320 spring 9.817682 5.611193 11049 Tokyo 2010-04-10 3.165123 spring 16.630586 4.522166 ... ... ... ... ... ... ... 14572 Tokyo 2019-12-02 2.901353 winter 18.300562 5.786026 14573 Tokyo 2019-12-03 5.478680 winter 17.990128 6.014250 14575 Tokyo 2019-12-05 2.304529 winter 16.842819 6.808337 14577 Tokyo 2019-12-07 1.693401 winter 16.826617 7.448291 14579 Tokyo 2019-12-09 -1.352298 winter 16.648861 8.196940 [226 rows x 6 columns]

Для удобства выведем столбцы season_profile и anomalies в отдельные датафреймы для каждого города:

In [ ]:
anomalies_dfs = {}
season_profiles_dfs = {}

for result in results_without_parallel:
    city = result['city']
    season_profiles_dfs[city] = result['season_profile']
    anomalies_dfs[city] = result['anomalies']

In [ ]:
for city, season_profile_df in season_profiles_dfs.items():
    print(f"\nПрофиль сезонов для города {city}:")
    print(season_profile_df)

Профиль сезонов для города Beijing:
   season       mean       std
0  autumn  16.036876  5.059987
1  spring  12.917566  4.971722
2  summer  26.722804  4.996412
3  winter  -2.106759  4.836584

Профиль сезонов для города Berlin:
   season       mean       std
0  autumn  10.918605  4.972714
1  spring  10.079968  5.240883
2  summer  20.177708  5.068230
3  winter   0.033941  4.954710

Профиль сезонов для города Cairo:
   season       mean       std
0  autumn  25.245239  4.929423
1  spring  25.206242  5.077142
2  summer  35.256463  5.141720
3  winter  15.040872  5.170355

Профиль сезонов для города Dubai:
   season       mean       std
0  autumn  29.978076  4.918580
1  spring  30.120864  4.769703
2  summer  39.933912  5.113040
3  winter  20.099689  4.759781

Профиль сезонов для города London:
   season       mean       std
0  autumn  12.096750  4.945229
1  spring  11.131159  5.037025
2  summer  17.823193  4.945826
3  winter   5.005332  5.144458

Профиль сезонов для города Los Angeles:
   season       mean       std
0  autumn  19.863121  4.817015
1  spring  17.960417  5.023309
2  summer  25.089507  5.246702
3  winter  15.063817  4.901269

Профиль сезонов для города Mexico City:
   season       mean       std
0  autumn  14.907518  5.137427
1  spring  18.116183  5.003812
2  summer  20.096847  5.055303
3  winter  12.507397  4.995528

Профиль сезонов для города Moscow:
   season       mean       std
0  autumn   7.963249  5.149111
1  spring   5.284165  5.035244
2  summer  18.032328  5.061023
3  winter  -9.957443  5.166106

Профиль сезонов для города Mumbai:
   season       mean       std
0  autumn  29.956291  4.990592
1  spring  30.312493  4.934926
2  summer  34.862646  4.835180
3  winter  25.193984  5.075190

Профиль сезонов для города New York:
   season       mean       std
0  autumn  15.044736  4.996745
1  spring  10.013122  5.033026
2  summer  25.011136  5.052168
3  winter  -0.123522  4.972835

Профиль сезонов для города Paris:
   season       mean       std
0  autumn  12.907691  4.986476
1  spring  11.848887  5.006934
2  summer  19.846184  4.936608
3  winter   3.816677  4.983924

Профиль сезонов для города Rio de Janeiro:
   season       mean       std
0  autumn  25.071319  5.008580
1  spring  25.115952  4.998758
2  summer  30.152208  4.754510
3  winter  19.777175  4.898666

Профиль сезонов для города Singapore:
   season       mean       std
0  autumn  27.175958  4.940643
1  spring  28.008302  4.807808
2  summer  27.960049  4.940595
3  winter  27.034577  5.173813

Профиль сезонов для города Sydney:
   season       mean       std
0  autumn  20.086647  5.044677
1  spring  17.688442  5.060276
2  summer  25.108483  4.701872
3  winter  11.859987  5.031648

Профиль сезонов для города Tokyo:
   season       mean       std
0  autumn  17.712910  5.002264
1  spring  15.130461  4.884180
2  summer  27.185659  5.160089
3  winter   6.118047  4.824814

In [ ]:
for city, anomalies_df in anomalies_dfs.items():
    print(f"\nАномалии для города {city}:")
    print(anomalies_df)

Аномалии для города Beijing:
          city  timestamp  temperature  season     median   std_dev
25608  Beijing 2010-02-28     7.233987  winter  -1.422184  4.308183
25609  Beijing 2010-03-01    12.242871  spring  -1.334171  4.943656
25610  Beijing 2010-03-02    12.249821  spring  -0.502248  5.364232
25611  Beijing 2010-03-03    17.431962  spring   0.112364  6.176574
25612  Beijing 2010-03-04    15.699703  spring   0.112364  6.719154
...        ...        ...          ...     ...        ...       ...
29169  Beijing 2019-11-29    25.217159  autumn  13.343711  4.752255
29171  Beijing 2019-12-01    -9.920906  winter  13.343711  6.380648
29173  Beijing 2019-12-03    -7.365812  winter  13.343711  7.599618
29174  Beijing 2019-12-04    -5.689659  winter  13.039860  8.137710
29175  Beijing 2019-12-05   -11.661524  winter  12.480715  9.064461

[280 rows x 6 columns]

Аномалии для города Berlin:
         city  timestamp  temperature  season     median   std_dev
21938  Berlin 2010-02-08    13.333894  winter   2.174684  5.185626
21948  Berlin 2010-02-18   -11.533840  winter   1.612630  6.219523
21951  Berlin 2010-02-21   -12.995312  winter   1.968544  6.490774
21962  Berlin 2010-03-04    18.285585  spring   1.097336  7.755470
21964  Berlin 2010-03-06    21.130150  spring   1.612630  8.729405
...       ...        ...          ...     ...        ...       ...
25439  Berlin 2019-09-10    -2.769273  autumn  18.343366  8.173154
25502  Berlin 2019-11-12    20.901023  autumn  10.846847  4.728738
25505  Berlin 2019-11-15     0.069297  autumn  10.659120  5.294805
25523  Berlin 2019-12-03    -5.530615  winter   8.588348  5.606211
25526  Berlin 2019-12-06    -4.356434  winter   8.211446  6.244008

[229 rows x 6 columns]

Аномалии для города Cairo:
        city  timestamp  temperature  season     median   std_dev
47480  Cairo 2010-01-31     3.884088  winter  15.194392  5.411262
47498  Cairo 2010-02-18     5.190437  winter  14.995756  4.755866
47500  Cairo 2010-02-20     3.817957  winter  14.995756  5.315908
47510  Cairo 2010-03-02    26.963971  spring  15.056138  5.204714
47514  Cairo 2010-03-06    29.722337  spring  16.320409  6.267831
...      ...        ...          ...     ...        ...       ...
51070  Cairo 2019-11-30    41.225654  autumn  24.182428  5.088824
51071  Cairo 2019-12-01    12.113087  winter  23.810495  5.620907
51073  Cairo 2019-12-03     7.970209  winter  23.426244  6.447436
51075  Cairo 2019-12-05     6.929459  winter  23.426244  7.153598
51087  Cairo 2019-12-17     1.707289  winter  18.394398  7.712738

[222 rows x 6 columns]

Аномалии для города Dubai:
        city  timestamp  temperature  season     median   std_dev
32888  Dubai 2010-02-08     5.042779  winter  19.938889  5.565643
32910  Dubai 2010-03-02    32.950676  spring  20.260925  5.628955
32911  Dubai 2010-03-03    33.847868  spring  20.260925  6.118143
32953  Dubai 2010-04-14    19.050394  spring  29.517281  4.841861
32967  Dubai 2010-04-28    18.400594  spring  29.386257  5.187817
...      ...        ...          ...     ...        ...       ...
36444  Dubai 2019-11-04    39.942810  autumn  28.816079  4.460192
36474  Dubai 2019-12-04    18.504132  winter  30.165558  4.928116
36475  Dubai 2019-12-05    10.799295  winter  30.165558  5.856466
36479  Dubai 2019-12-09    12.208074  winter  30.106735  6.458820
36481  Dubai 2019-12-11    10.974442  winter  30.097196  7.008471

[227 rows x 6 columns]

Аномалии для города London:
        city  timestamp  temperature  season     median   std_dev
3696  London 2010-02-16    18.668415  winter   5.785705  5.662713
3705  London 2010-02-25    15.232667  winter   4.251000  5.273572
3712  London 2010-03-04    20.150593  spring   6.183563  5.528104
3731  London 2010-03-23    19.745696  spring   7.735480  5.320827
3739  London 2010-03-31    19.128089  spring   9.047908  4.919946
...      ...        ...          ...     ...        ...       ...
7235  London 2019-10-26     2.021623  autumn  11.896458  4.588730
7237  London 2019-10-28    23.149843  autumn  11.833984  5.066019
7274  London 2019-12-04    -4.778920  winter  11.204396  4.849518
7276  London 2019-12-06     0.336067  winter  10.738403  5.196343
7278  London 2019-12-08    -4.788118  winter  10.663012  5.704751

[194 rows x 6 columns]

Аномалии для города Los Angeles:
              city  timestamp  temperature  season     median   std_dev
36546  Los Angeles 2010-02-16     6.286784  winter  17.718574  5.238210
36579  Los Angeles 2010-03-21    28.678086  spring  18.046549  5.142965
36582  Los Angeles 2010-03-24    32.183930  spring  18.610684  5.910263
36622  Los Angeles 2010-05-03     9.534544  spring  18.335294  4.071337
36628  Los Angeles 2010-05-09    27.328342  spring  18.335294  4.247330
...            ...        ...          ...     ...        ...       ...
40095  Los Angeles 2019-11-05    29.907156  autumn  18.787325  4.788130
40111  Los Angeles 2019-11-21    29.275504  autumn  19.390996  4.352609
40127  Los Angeles 2019-12-07     6.909441  winter  18.853226  4.913683
40139  Los Angeles 2019-12-19     6.342348  winter  17.288388  4.735938
40141  Los Angeles 2019-12-21     6.592773  winter  16.936776  4.488102

[181 rows x 6 columns]

Аномалии для города Mexico City:
              city  timestamp  temperature  season     median   std_dev
51143  Mexico City 2010-02-13    24.162461  winter  13.789620  4.796541
51149  Mexico City 2010-02-19     3.686999  winter  13.901046  4.920968
51197  Mexico City 2010-04-08     7.229867  spring  19.209653  5.142489
51214  Mexico City 2010-04-25     2.876800  spring  16.492078  5.983292
51250  Mexico City 2010-05-31     5.724570  spring  18.815190  5.566761
...            ...        ...          ...     ...        ...       ...
54666  Mexico City 2019-10-07    29.619736  autumn  15.449915  4.856302
54680  Mexico City 2019-10-21    -0.402136  autumn  15.121112  5.708910
54695  Mexico City 2019-11-05     0.536352  autumn  16.926962  6.882655
54701  Mexico City 2019-11-11     0.625774  autumn  15.149545  6.707638
54730  Mexico City 2019-12-10     2.490528  winter  15.938036  6.229207

[155 rows x 6 columns]

Аномалии для города Moscow:
         city  timestamp  temperature  season    median   std_dev
14659  Moscow 2010-03-01     7.523935  spring -7.823760  4.833030
14660  Moscow 2010-03-02     3.968672  spring -7.475311  5.271466
14663  Moscow 2010-03-05     6.575042  spring -6.591351  5.918905
14664  Moscow 2010-03-06     9.648192  spring -6.591351  6.598090
14669  Moscow 2010-03-11    13.493034  spring -4.998449  8.066724
...       ...        ...          ...     ...       ...       ...
18191  Moscow 2019-11-01    19.398058  autumn  8.554064  5.369710
18221  Moscow 2019-12-01   -14.016882  winter  7.951717  6.174571
18223  Moscow 2019-12-03   -12.487949  winter  7.113134  7.414147
18229  Moscow 2019-12-09   -14.856909  winter  4.926931  8.827474
18230  Moscow 2019-12-10   -16.793863  winter  4.094203  9.478983

[272 rows x 6 columns]

Аномалии для города Mumbai:
         city  timestamp  temperature  season     median   std_dev
43838  Mumbai 2010-02-08    34.221037  winter  25.976501  3.526147
43847  Mumbai 2010-02-17    12.887535  winter  25.986453  3.909702
43854  Mumbai 2010-02-24    16.486661  winter  25.986453  4.681817
43858  Mumbai 2010-02-28    14.438436  winter  25.938082  5.309905
43869  Mumbai 2010-03-11    42.940601  spring  28.186626  6.532996
...       ...        ...          ...     ...        ...       ...
47316  Mumbai 2019-08-18    45.084900  summer  34.981966  4.661704
47341  Mumbai 2019-09-12    16.534267  autumn  32.267464  6.078251
47377  Mumbai 2019-10-18    41.824742  autumn  29.867457  5.111030
47422  Mumbai 2019-12-02    20.963319  winter  31.305176  5.159970
47435  Mumbai 2019-12-15    11.148324  winter  28.803529  6.521237

[186 rows x 6 columns]

Аномалии для города New York:
          city  timestamp  temperature  season     median   std_dev
59    New York 2010-03-01     9.491530  spring  -2.363923  4.317667
61    New York 2010-03-03    17.971636  spring  -1.766046  5.545858
62    New York 2010-03-04    22.892401  spring  -1.501938  6.886626
149   New York 2010-05-30    22.004456  spring  10.288504  5.028588
152   New York 2010-06-02    22.696253  summer  10.175441  5.475136
...        ...        ...          ...     ...        ...       ...
3570  New York 2019-10-11     3.957616  autumn  14.718611  4.722473
3604  New York 2019-11-14    30.332872  autumn  14.291579  5.218342
3625  New York 2019-12-05   -10.768910  winter  12.228067  7.051926
3626  New York 2019-12-06    -5.511814  winter  11.184246  7.759530
3627  New York 2019-12-07    -7.362418  winter  10.507368  8.521666

[239 rows x 6 columns]

Аномалии для города Paris:
        city  timestamp  temperature  season     median   std_dev
7335   Paris 2010-02-05    12.042805  winter   4.211613  3.654813
7347   Paris 2010-02-17    13.709307  winter   3.176655  3.579342
7353   Paris 2010-02-23    12.599383  winter   3.908665  3.858924
7360   Paris 2010-03-02    13.983918  spring   4.059014  4.252746
7367   Paris 2010-03-09    16.438835  spring   5.358430  5.110171
...      ...        ...          ...     ...        ...       ...
10866  Paris 2019-10-07     1.737941  autumn  11.753663  4.525730
10875  Paris 2019-10-16    23.091378  autumn  12.433920  4.346651
10906  Paris 2019-11-16    21.311264  autumn  12.602263  3.857850
10909  Paris 2019-11-19    20.875031  autumn  12.602263  4.090400
10924  Paris 2019-12-04    -0.414489  winter  11.471306  4.852451

[219 rows x 6 columns]

Аномалии для города Rio de Janeiro:
                 city  timestamp  temperature  season     median   std_dev
29238  Rio de Janeiro 2010-02-08     8.019803  winter  21.121563  5.582778
29248  Rio de Janeiro 2010-02-18    30.193731  winter  19.894132  5.056131
29266  Rio de Janeiro 2010-03-08    32.490642  spring  20.616766  5.571602
29272  Rio de Janeiro 2010-03-14    33.076572  spring  21.727062  5.027258
29289  Rio de Janeiro 2010-03-31    37.489045  spring  23.872890  5.508899
...               ...        ...          ...     ...        ...       ...
32695  Rio de Janeiro 2019-07-28    37.534648  summer  28.440286  4.229119
32745  Rio de Janeiro 2019-09-16    10.297198  autumn  29.966695  6.358318
32750  Rio de Janeiro 2019-09-21    15.607918  autumn  29.198337  6.772322
32775  Rio de Janeiro 2019-10-16    37.688980  autumn  23.738954  5.828156
32792  Rio de Janeiro 2019-11-02    14.287704  autumn  24.913168  5.058152

[164 rows x 6 columns]

Аномалии для города Singapore:
            city  timestamp  temperature  season     median   std_dev
40190  Singapore 2010-02-10    16.439510  winter  28.673943  4.513515
40286  Singapore 2010-05-17    38.139634  spring  28.927913  4.221758
40288  Singapore 2010-05-19    18.260271  spring  28.600315  4.660487
40331  Singapore 2010-07-01    19.276134  summer  28.515779  3.763080
40334  Singapore 2010-07-04    37.571546  summer  29.143147  3.917835
...          ...        ...          ...     ...        ...       ...
43744  Singapore 2019-11-04    17.284317  autumn  27.471168  4.472419
43747  Singapore 2019-11-07    36.542487  autumn  27.471168  4.298182
43775  Singapore 2019-12-05    15.363121  winter  29.738715  4.885112
43778  Singapore 2019-12-08    18.349774  winter  28.374153  4.915557
43798  Singapore 2019-12-28    37.104156  winter  26.418272  4.785211

[165 rows x 6 columns]

Аномалии для города Sydney:
         city  timestamp  temperature  season     median   std_dev
18295  Sydney 2010-02-15    -1.300837  winter  12.009522  4.366921
18301  Sydney 2010-02-21    22.775835  winter  11.150532  4.545213
18309  Sydney 2010-03-01    31.555079  spring  10.621490  6.340591
18334  Sydney 2010-03-26     6.488579  spring  16.756075  4.962423
18359  Sydney 2010-04-20     4.906506  spring  17.361975  4.919124
...       ...        ...          ...     ...        ...       ...
21809  Sydney 2019-09-30     7.063130  autumn  18.070441  5.011685
21852  Sydney 2019-11-12     5.523400  autumn  19.536608  5.126878
21873  Sydney 2019-12-03     4.551492  winter  19.508766  6.237961
21877  Sydney 2019-12-07     2.879061  winter  18.475641  7.005402
21884  Sydney 2019-12-14     2.346601  winter  17.831507  7.277277

[195 rows x 6 columns]

Аномалии для города Tokyo:
        city  timestamp  temperature  season     median   std_dev
11009  Tokyo 2010-03-01    18.116703  spring   7.598515  4.194550
11011  Tokyo 2010-03-03    17.164658  spring   7.598515  4.509453
11012  Tokyo 2010-03-04    22.793331  spring   7.799257  5.233551
11018  Tokyo 2010-03-10    22.069320  spring   9.817682  5.611193
11049  Tokyo 2010-04-10     3.165123  spring  16.630586  4.522166
...      ...        ...          ...     ...        ...       ...
14572  Tokyo 2019-12-02     2.901353  winter  18.300562  5.786026
14573  Tokyo 2019-12-03     5.478680  winter  17.990128  6.014250
14575  Tokyo 2019-12-05     2.304529  winter  16.842819  6.808337
14577  Tokyo 2019-12-07     1.693401  winter  16.826617  7.448291
14579  Tokyo 2019-12-09    -1.352298  winter  16.648861  8.196940

[226 rows x 6 columns]

## **Этап 2. Мониторинг текущей температуры**

In [ ]:
import requests
import asyncio
import aiohttp

In [ ]:
API_KEY = '...'

### **1. Получение текущей температуры с использованием синхронных методов**

In [ ]:
def current_temperature(city):
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}&units=metric"
    response = requests.get(url)

    if response.status_code == 200:
        data = response.json()
        current_temp = data['main']['temp']
        return current_temp
    else:
        print(f"Ошибка при получении данных для города {city}: {response.status_code}")
        return None

In [ ]:
def get_current_season():
    current_month = pd.Timestamp.now().month
    return month_to_season[current_month]

In [ ]:
def is_temperature_normal(current_temp, data, city):
    current_season = get_current_season()

    seasonal_data = data[(data['season'] == current_season) & (data['city'] == city)]

    if not seasonal_data.empty:
        median = seasonal_data['temperature'].median()
        std_dev = seasonal_data['temperature'].std()

        lower_bound = median - 2 * std_dev
        upper_bound = median + 2 * std_dev

        if (current_temp < lower_bound) or (current_temp > upper_bound):
            return False  # Температура аномальная
        else:
            return True  # Температура нормальная
    else:
        print(f"Нет данных для сезона {current_season} в городе {city}")
        return None

В данный момент погода во всех городах, является нормальной:

In [ ]:
data['city'].unique()

array(['New York', 'London', 'Paris', 'Tokyo', 'Moscow', 'Sydney',
       'Berlin', 'Beijing', 'Rio de Janeiro', 'Dubai', 'Los Angeles',
       'Singapore', 'Mumbai', 'Cairo', 'Mexico City'], dtype=object)

In [ ]:
cities_to_test = ['New York', 'London', 'Paris', 'Tokyo', 'Moscow', 'Sydney',
       'Berlin', 'Beijing', 'Rio de Janeiro', 'Dubai', 'Los Angeles',
       'Singapore', 'Mumbai', 'Cairo', 'Mexico City']

for city in cities_to_test:
    current_temp = current_temperature(city)
    if current_temp is not None:
        print(f"Текущая температура в {city}: {current_temp}°C")
        if is_temperature_normal(current_temp, data, city):
            print(f"Температура в {city} ({current_temp}°C) является нормальной.")
        else:
            print(f"Температура в {city} ({current_temp}°C) является аномальной.")
    else:
        print(f"Не удалось получить текущую температуру для {city}.")

Текущая температура в New York: -1.53°C
Температура в New York (-1.53°C) является нормальной.
Текущая температура в London: -0.92°C
Температура в London (-0.92°C) является нормальной.
Текущая температура в Paris: 3.17°C
Температура в Paris (3.17°C) является нормальной.
Текущая температура в Tokyo: 5.77°C
Температура в Tokyo (5.77°C) является нормальной.
Текущая температура в Moscow: -0.25°C
Температура в Moscow (-0.25°C) является нормальной.
Текущая температура в Sydney: 22.9°C
Температура в Sydney (22.9°C) является аномальной.
Текущая температура в Berlin: 0.99°C
Температура в Berlin (0.99°C) является нормальной.
Текущая температура в Beijing: -4.06°C
Температура в Beijing (-4.06°C) является нормальной.
Текущая температура в Rio de Janeiro: 23.92°C
Температура в Rio de Janeiro (23.92°C) является нормальной.
Текущая температура в Dubai: 16.96°C
Температура в Dubai (16.96°C) является нормальной.
Текущая температура в Los Angeles: 18.15°C
Температура в Los Angeles (18.15°C) является нормальной.
Текущая температура в Singapore: 26.69°C
Температура в Singapore (26.69°C) является нормальной.
Текущая температура в Mumbai: 22.99°C
Температура в Mumbai (22.99°C) является нормальной.
Текущая температура в Cairo: 15.42°C
Температура в Cairo (15.42°C) является нормальной.
Текущая температура в Mexico City: 18.86°C
Температура в Mexico City (18.86°C) является нормальной.

### **2. Получение текущей температуры с использованием асинхронных методов**

In [ ]:
import nest_asyncio
nest_asyncio.apply()

In [ ]:
async def get_current_temperature(city):
    url = f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={API_KEY}&units=metric"

    async with aiohttp.ClientSession() as session:
        async with session.get(url) as response:
            if response.status == 200:
                data = await response.json()
                current_temp = data['main']['temp']
                return current_temp
            else:
                print(f"Ошибка при получении данных для города {city}: {response.status}")
                return None

In [ ]:
async def main(data):
    cities_to_test = ['New York', 'London', 'Paris', 'Tokyo', 'Moscow', 'Sydney',
                      'Berlin', 'Beijing', 'Rio de Janeiro', 'Dubai', 'Los Angeles',
                      'Singapore', 'Mumbai', 'Cairo', 'Mexico City']

    tasks = [get_current_temperature(city) for city in cities_to_test]
    temperatures = await asyncio.gather(*tasks)

    for city, current_temp in zip(cities_to_test, temperatures):
        if current_temp is not None:
            print(f"Текущая температура в {city}: {current_temp}°C")
            if is_temperature_normal(current_temp, data, city):
                print(f"Температура в {city} ({current_temp}°C) является нормальной.")
            else:
                print(f"Температура в {city} ({current_temp}°C) является аномальной.")
        else:
            print(f"Не удалось получить текущую температуру для {city}.")

Текущая температура для каждого рассматриваемого города является нормальной (так же, как и в случае синхронных методов).

In [ ]:
if __name__ == "__main__":
    data = pd.read_csv('temperature_data.csv')
    if 'season' not in data.columns or 'city' not in data.columns or 'temperature' not in data.columns:
        print("Ошибка: данные не содержат необходимые столбцы.")
    else:
        asyncio.run(main(data))

Текущая температура в New York: -1.52°C
Температура в New York (-1.52°C) является нормальной.
Текущая температура в London: -0.92°C
Температура в London (-0.92°C) является нормальной.
Текущая температура в Paris: 3.36°C
Температура в Paris (3.36°C) является нормальной.
Текущая температура в Tokyo: 5.36°C
Температура в Tokyo (5.36°C) является нормальной.
Текущая температура в Moscow: -0.25°C
Температура в Moscow (-0.25°C) является нормальной.
Текущая температура в Sydney: 22.9°C
Температура в Sydney (22.9°C) является аномальной.
Текущая температура в Berlin: 0.99°C
Температура в Berlin (0.99°C) является нормальной.
Текущая температура в Beijing: -4.06°C
Температура в Beijing (-4.06°C) является нормальной.
Текущая температура в Rio de Janeiro: 23.92°C
Температура в Rio de Janeiro (23.92°C) является нормальной.
Текущая температура в Dubai: 16.96°C
Температура в Dubai (16.96°C) является нормальной.
Текущая температура в Los Angeles: 18.15°C
Температура в Los Angeles (18.15°C) является нормальной.
Текущая температура в Singapore: 26.69°C
Температура в Singapore (26.69°C) является нормальной.
Текущая температура в Mumbai: 22.99°C
Температура в Mumbai (22.99°C) является нормальной.
Текущая температура в Cairo: 15.42°C
Температура в Cairo (15.42°C) является нормальной.
Текущая температура в Mexico City: 18.86°C
Температура в Mexico City (18.86°C) является нормальной.

В данном случае лучше использовать асинхронные методы, поскольку осуществляются запросы по разным городам, т. е. не один запрос.

### **Этап 3. Создание приложения на Streamlit**

Дополнительный анализ:
1. анализ сезонных изменений - визуализация средней температуры по сезонам для каждого города;
2. тепловая карта для анализа средней температуры по месяцам для каждого города;
3. визуализация минимальной, среднегодовой и максимальной температур для каждого города.